@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes scroll-horizontal {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-scroll-horizontal {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    animation: scroll-horizontal 40s linear infinite; /* Slow down the scroll */
  }

  .scroll-inner {
    display: flex;
    flex: 1;
    min-width: 100%;
  }

  @keyframes scroll-horizontal {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .scroll-container {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%; /* Full width of the container */
  }
  
  .scroll-content {
    display: flex;
    width: 200%; /* Double the width to accommodate continuous scrolling */
    animation: scroll-horizontal 40s linear infinite; /* Adjust timing for scroll speed */
  }
}
